body {
 display:flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}



.App{
 
  height: 400px;
  width: 300px;
  border-radius:2rem;
  background-color: rgba(11, 98, 221, 0.562);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  font-weight: 700;
}

.btn{
  cursor: pointer;
  font-size: 2rem;
  margin: 1rem;
  width:4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  border: 3px solid white;
  background-color: aquamarine;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
.derece{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  padding: 1.5rem;
  margin:1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
 

  
}

